/*
* ==========================================================
*     GENERAL STYLE
* ==========================================================
*/

  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  body {
    overflow-x: hidden;
  }
  
  i {
    display: inline-block;
  }
  
  span {
    display: inline-block;
    font-size: 0.9em;
  }
  
  p {
    color: #888;
  }
  
  i[class*='icon-'] {
    transform: translateY(4px);
  }
  
  table {
    font-size: 0.9em;
    color: #666;
  }
  
  .btn-xs {
    font-size: 0.7em !important;
    padding: 2px 5px !important;
    border-radius: 2px !important;
  }
  
  .badge {
    font-weight: 400;
    border-radius: 0;
    &.badge-primary {
      background: #33b35a;
    }
  }
  
  .page {
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.3s linear;
    width: calc(100% - 200px);
    background-color: #F4F7FA;
    min-height: 100vh;
    padding-bottom: 50px;
    &.active {
      width: calc(100% - 70px);
    }
  }
  
  .login-page, .register-page {
    width: 100%;
  }
  
  h2 {
    color: #555;
    font-weight: 400;
  }
  
  .gmpc {
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    box-shadow: none !important;
    color: #33b35a !important;
    border-right: 1px solid #eee;
  }
  
  @media (max-width: 576px) {
    .gmpc {
      border-right: none;
      border-bottom: 1px solid #eee;
    }
  }
  
  .breadcrumb-holder {
    background: #eceeef;
    .breadcrumb {
      padding: 15px 0;
      font-size: 0.85em;
      font-weight: 300;
      color: #999;
      margin-bottom: 0;
      a:hover, &:focus {
        text-decoration: none;
      }
      .container {
        padding: 0;
      }
    }
  }
  
  .card {
    height: 100%;
    border: none;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }
  
  .card-header {
    height: 50px;
    background-color: #fff;
    border-bottom-color: #f3f3f3;
    border-top: none;
    h2, h3 {
      margin-bottom: 0;
    }
  }
  
  .display {
    font-weight: 400 !important;
  }
  
  input.form-control-custom {
    display: none;
    &:checked + label {
      &::before {
        background: #59b357 !important;
      }
      &::after {
        opacity: 1 !important;
      }
    }
    &.radio-custom + label {
      &::before {
        border-radius: 50%;
      }
      &::after {
        content: '';
        width: 6px;
        height: 6px;
        line-height: 6px;
        background: #fff;
        border-radius: 50%;
        top: 7px;
        left: 5px;
      }
    }
    &[disabled] + label {
      cursor: not-allowed;
      &::before, &::after {
        border: 2px solid #aaa;
        cursor: not-allowed;
      }
    }
    &[checked] + label {
      &::before, &::after {
        border: none;
      }
    }
    + label {
      font-size: 0.75em;
      margin-bottom: 0;
      margin-left: 0;
      color: #999;
      padding-left: 25px;
      padding-top: 2px;
      position: relative;
      span {
        margin-left: 20px;
      }
      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        background: #ddd;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 2px;
        left: 0;
        transition: all 0.1s;
        cursor: pointer;
      }
      &::after {
        content: '\f00c';
        display: block;
        font-family: 'FontAwesome';
        font-size: 8px;
        color: #fff;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: all 0.1s;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
  
  button {
    cursor: pointer;
  }
  
  .section-padding {
    padding: 50px 0;
  }
  
  .section-no-padding-bottom {
    padding-bottom: 0;
  }
  
  @media (min-width: 992px) {
    .container-fluid {
      padding: 0 50px;
    }
  }