/*
  * ==========================================================
  *     POLAR CHART
  * ==========================================================
  */
  
  .polar-chart-example canvas, .pie-chart-example canvas, .radar-chart-example .card-block canvas {
    max-width: 350px;
    max-height: 350px;
    margin: 20px auto;
  }